.series {
  background: #94a3b8;
  height: 100vh;
}
.series__select {
  background: #dbeafe;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 200px;
}
.series__displayContainer {
  width: 100%;
  display: grid;
  place-items: center;
  font-family: Poppins;
  height: 400px;
}
.series__display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
